* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  background-color: red;
  position: relative;
}

.heading-logo {
  text-align: center;
}

.social {
  position: absolute;
  top: 10px;
  right: 10px;
}

.nav-list {
  text-align: center;
}

.nav-list-item {
  display: inline-block;
  list-style: none;
}

.main-visual {
  height: 500px;
  width: 100%;
  background-color: blue;
}

.main {
  height: 1000px;
  width: 100%;
  background-color: red;
}

footer {
  height: 200px;
  width: 100%;
  background-color: blue;
}