* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  position: relative;
}

.heading-logo {
  text-align: center;
}

.social {
  position: absolute;
  top: 10px;
  right: 10px;
}

.nav-list {
  text-align: center;
}

.nav-list-item {
  display: inline-block;
  list-style: none;
}

.main-visual {
  width: 100%;
  height: 300px;
  background-image: url(img/mv.jpg);
  background-size: cover;
  background-position: center;
}

.main-visual-content {
  width: 40%;
  height: 300px;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
}

.main-visual-text {
  color: white;
  padding-top: 80px;
}

.main-visual-name {
  color: white;
  padding-top: 50px;
}


.main {
  width: 1000px;
  display: flex;
  margin: 0 auto;
}

.blog {
  width: 700px;
  margin-right: 20px;
}

.blog-heading {
  text-align: center;
  border-bottom: 10px solid #696969;
  margin-bottom: 10px;
}

.blog-item {
  display: flex;
  margin-bottom: 20px;
}

.blog-image {
  height: 200px;
  margin-right: 20px;
}

.blog-text {
  margin: 20px 20px;
}

.blog-date {
  display: inline-block;
  margin-top: 20px;
}

.category {
  display: inline-block;
  border: solid #d3d3d3;
  border-radius: 10px;
  background-color: #d3d3d3;
  padding: 2px;
}

.sideber {
  width: 300px;
  height: 900px;
}

.popular-heading {
  text-align: center;
  border-bottom: 10px solid #696969;
  margin-bottom: 10px;
}

.instagram-heading {
  text-align: center;
  border-bottom: 10px solid #696969;
  margin-bottom: 10px;
}

.instagram-contents {
  display: flex;
  flex-wrap: wrap;
}

.instagram-image {
  width: 110px;
  padding-top: 50px;
  /*paddingを消すと画像が消える*/
  background-size: contain;
}

.instagram-image:nth-child(1) {
  background-image: url(img/airport.jpg);
}

.instagram-image:nth-child(2) {
   background-image: url(img/japan.jpg);
}

.instagram-image:nth-child(3) {
  background-image: url(img/snow.jpg);
}

.instagram-image:nth-child(4) {
  background-image: url(img/japan2.jpg);
}

.instagram-image:nth-child(5) {
  background-image: url(img/lake.jpg);
}

.instagram-image:nth-child(6) {
  background-image: url(img/road.jpg);
}

footer {
  height: 200px;
  width: 100%;
  background-color: blue;
}